<tr>
  <td>
    <span class="icon has-text-success">
      <i class="fas fa-user-tag"></i>
    </span>
  </td>
  <td><small><%= l(history.created_at, format: :long) %></small></td>
  <td>
    <strong><%= history.user.fullname %></strong>に
    <%= link_to history.user_tag.title, history.user_tag, class: "tag is-link" %>
    タグが付けられました。
  </td>
</tr>
