<section class="section">
  <div class="container">
    <div class="columns is-multiline is-centered">
      <div class="column is-three-fifths">
        <h1 class="title is-3">プロフィール編集</h1>
        <hr>
        <%= render 'form', user: @user %>
      </div>
    </div>
  </div>
</section>
