<section class="section">
  <div class="container">
    <div class="box">
      <h2 class="title is-5">
        <i class="fas fa-user-plus"></i> User一覧
      </h2>
      <div class="columns is-multiline">
        <% @users.each do |user| %>
          <div class="column is-2">
            <%= render 'user_card', user: user %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
