<section class="section">
  <div class="container">
    <div class="columns is-multiline is-centered">
      <div class="column is-one-third">
        <h1 class="title is-1">Login</h1>

        <%= render 'form' %>
      </div>
    </div>
  </div>
</section>
