<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-mobile is-centered">
        <div class="column is-half">
          <h1 class="title"><%= @user_tag.title %></h1>
          <hr>
          <h2 class="subtitle"><%= @user_tag.description %></h2>
          <%= link_to edit_user_tag_path(@user_tag), class: 'button is-outlined is-fullwidth' do %>
            <span class="icon"><i class="fas fa-edit"></i></span> <span>編集</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="box">
      <h2 class="title is-5">このタグが付いているユーザー</h2>
      <div class="columns is-multiline">
        <% @user_tag.users.each do |user| %>
          <div class="column is-2">
            <%= render 'top/user_card', user: user %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
